@{
    ViewData["Title"] = "About Us";
}



<div class="centered-container">
    <div class="centered-box">
        <h3>About us</h3>
        <hr />
        <p>Welcome to noa! We're your ultimate online library. Our mission is to make literature accessible to everyone.</p>
        <h4>What We Offer</h4>
        <p>
            Diverse Collection: From classics to bestsellers, we have something for everyone.
            <br />Easy Downloads: Effortlessly download your favorite books.
            <br />Community Engagement: Join our book lover community and engage in discussions.
        </p>
        <h4>Our Vision</h4>
        <p>
            We strive to provide easy access to books for everyone. Our goal is to offer a diverse collection that is always updated with the latest releases and hidden gems.

            Enjoy your reading journey with noa!
        </p>
    </div>
</div>
